*{
    padding: 0;
    margin: 0;
}

h1{
padding: 15px;

}
body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(23, 41, 56);
}

.contenedor-principal{
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.color{
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label, p{
    margin: 10px;
}
